.cardcont {
  display: flex;
  background-color: #232323;
  color: white;
  align-items: center;
  padding: 30px;
  margin: 40px;
  width: 420px;
}
.image-wrapper {
  max-width: 90%;
  padding-right: 40px;
}
.headingwrapper {
  margin-bottom: 10px;
}
.headingwrappertext {
  font-weight: 500;
  font-size: 22px;
}
.contentwrapper {
  font-size: 13px;
  max-width: 300px;
}
