.dashboard-main-container {
  background-color: #000000;
}

.dashboard-background-container {
  background-color: #000;
  width: 100%;
  height: 50vh;
  background-image: url("./images/accoutbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.dashboard-account-logo {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: #ff4d15 dotted 1px;
  background-color: #410808;
  margin: 10px;
  margin-top: 35px;
}

.dashboard-account-boost {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}

.dashboard-wishlist-container {
  display: flex;
  overflow-x: auto;
}

.dashboard-wishlist-text {
  color: #ffffff;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 50px;
}

.dashboard-progress-container {
  display: flex;
  justify-content: space-around;
  margin-top: -60px;
}

.dashboard-progress-percentage {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  background-color: #0f0f0f;
  justify-content: center;
  align-items: center;

  color: #ffffff;
}

.dashboard-progress-background1 {
  background-image: url("./images/orangesheild.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 54px;
  margin-left: 12px;
}
