.main-section {
  padding-top: 20vh;
  background-color: #1d1d1d;
  padding-bottom: 25vh;
}

.join-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #171717;
  padding-bottom: 30px;
  padding-top: 30px;
}

.heading-container {
  font-size: 40px;
  color: #ff4d15;
  padding: 25px;
  padding-bottom: 35px;
}

.text-container {
  color: #fff;
  max-width: 300px;
  font-size: 16px;
  padding-bottom: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 35px;
}

.btn-container-1 {
  color: #fff;
  font-size: 12px;
  border: 1px solid #ff4d15;
  padding: 5px 7px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-container-2 {
  color: #fff;
  font-size: 12px;
  background-color: #ff4d15;
  padding: 5px 25px;
  border-radius: 25px;
  cursor: pointer;
}

.join-container-1 {
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
