.contact-section {
  background-color: #1d1d1d;
  height: 800px;
}

.login-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.login-container-1 {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login-container-1-1 {
  display: flex;
  color: #fff;
  justify-content: center;
}

.login-container-1-1-1 {
  display: flex;
  border-radius: 15px;
  border: 1px solid #ff4d15;
  margin: 30px;
  overflow: hidden;
}
.login-signup1 {
  padding: 10px 30px;
  font-size: 12px;
  color: #fff;
  background-color: #242424;
  cursor: pointer;
}

.login-signup2 {
  padding: 10px 30px;
  font-size: 12px;
  color: #6e6e6e;
  cursor: pointer;
}

.login-container-2 {
  display: flex;
  color: #fff;
  background-color: #232323;
  border-radius: 20px;
}
.login-container-2-2 {
  padding: 100px 70px;
}

.login-input-container {
  font-size: 16px;
  background-color: #232323;
  color: #fff;
  outline: none;
  border: none;
  border-bottom: 1px solid #ff4d15;
  caret-color: #ff4d15;
  margin-bottom: 25px;
  width: 250px;
}

.login-label-container {
  padding-bottom: 10px;
  color: #c6c6c6;
  font-size: 15px;
}

.login-checkbox-container {
  display: flex;
}

.login-checkbox {
  margin-right: 10px;
}

.login-checkbox-text {
  font-size: 12px;
  color: #707070;
  padding: 5px;
}

.login-checkbox-text2 {
  color: #ff4d15;
}

.login-signup-button {
  border: 1px solid #ff4d15;
}

input[type="submit"] {
  color: #fff;
  background-color: #232323;
  border: none;
  border: 1px solid #ff4d15;
  padding: 5px 15px;
  border-radius: 3px;
  margin-top: 30px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ff4d15;
  color: #232323;
}

input[type="submit"]:focus {
  border: 1px solid #ff4d15;
}

input[type="submit"]:active {
  border: 1px solid #ff4d15;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #232323;
  border: 1px solid #ff4d15;
  border-radius: 3px;
}
input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #ff4d15;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
